<div class="register-container">
    <p-growl [value]="formMsgs" [life]="5000"></p-growl>
    <form  [formGroup]="registerForm"  (ngSubmit)="register()">

        <p-panel header="User Registration">

            <div class="control-group">
                <!-- first name -->
                <label class="control-label"  for="firstName">First Name</label>
                <div class="register-controls">
                    <input pInputText formControlName="firstName" [minlength]="2" [maxlength]="10" type="text" id="firstName" name="firstName" placeholder="" class="input-xlarge">
                </div>
            </div>

            <div class="control-group">
                <!-- last name -->
                <label class="control-label"  for="lastName">Last Name</label>
                <div class="register-controls">
                    <input pInputText formControlName="lastName" [minlength]="2" [maxlength]="10" type="text" id="lastName" name="lastName" placeholder="" class="input-xlarge">
                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>
                <div class="register-controls">
                    <input pInputText formControlName="email" email type="text" id="email" name="email" placeholder="" class="input-xlarge">
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <label class="control-label" for="password">Password</label>
                <div class="register-controls">
                    <input type="password" formControlName="password" [minlength]="6" [maxlength]="8"  id="password" name="password" pPassword  placeholder="" class="input-xlarge">
                </div>
            </div>

            <div class="control-group">
                <!-- Password confirm -->
                <label class="control-label"  for="password_confirm">Password (Confirm)</label>
                <div class="register-controls">
                    <input pInputText formControlName="passwordConfirm" [equalTo]="registerForm.controls.password" type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
                </div>
            </div>

            <div class="form-controls">
                <button pButton  type="submit" class="ui-button-success" label="Register" [disabled]="!registerForm.valid"></button>
            </div>
        </p-panel>
    </form>
</div>