.register-container {
  width: 400px;
  align-content: center;
  margin: auto;
  height: auto;
}

.form-controls{
  margin-top: 40px;
}

.register-controls{
  width: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-xlarge{
  width: 350px;
}